#menu, #book-form {
	color: white;
	font-weight: 600;
}

#hover:hover {
	font-weight: 500;
	color: white;
}

#aboutus {
	padding: 4% 7% 0% 7%;
	color: white;
	text-align: justify;
}

#title {
	font-size: 50px;
	color: white;
	font-weight: 750;
}

#evelist a img:hover{
    transform: scale(1.1);
}

.parallax {
    background-image : url(../images/standevx7.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.action-button {
    width: 200px;
    background: #2980b9;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.action-button:hover{
    box-shadow: 0 0 0 3px white, 0 0 0 6px #2980b9;
}

.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
    z-index: 5;
}

#but button{
    margin-top: 25px;
    margin-right: 10px;
}

.transparent{
    margin: 5%;
    background-color: transparent;
    border: none;

sup {
    vertical-align: super;
    font-size: smaller;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card .title {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card button:hover, a:hover {
  opacity: 0.7;
}